.social-media-icon {
  fill: var(--color-primary-light);
}

.instagram {
  fill: var(--color-primary-light);
}

.water-bottom-2 {
  bottom: -76%;
  transform: scale(1.1);
  animation: wiggle 4s linear infinite;
  z-index: 29;
}

.water-middle-2 {
  bottom: -75%;
  transform: scale(1.1);
  animation: reverse-wiggle 4s linear infinite;
  z-index: 27;
}

.water-top-2 {
  bottom: -73%;
  transform: scale(1.1);
  animation: wiggle 4s linear infinite;
  z-index: 23;
}

.wave-1 {
  top: -28px;
  transform: scale(1.1);
  z-index: 22;
}

.footer-content, .footer-content h3 {
  background-color: var(--color-secondary);
  color: var(--color-secondary-medium);
}

.footer-content {
  position: relative;
  z-index: 4000;
}

social-media {
  color: var(--color-primary-light);
}

ul li {
  transition: all .2s ease-in-out;
}

ul li:hover {
  transform: scale(1.1);
}

.portrait {
  max-width: 15em;
}

.about-me {
  margin-right: auto;
  margin-left: auto;
}

a:focus {
  outline: 3px solid var(--color-secondary-medium);
}

@keyframes wiggle {

  0% {
    transform: translateX(0em) scale(1.1);
  }

  25% {
    transform: translateX(0.25em) scale(1.1);
  }

  75% {
    transform: translateX(-0.25em) scale(1.1);
  }

  100% {
    transform: translateX(0em) scale(1.1);
  }
}

@keyframes reverse-wiggle {

  0% {
    transform: translateX(0em) scale(1.1);
  }

  25% {
    transform: translateX(-0.25em) scale(1.1);
  }

  75% {
    transform: translateX(0.25em) scale(1.1);
  }

  100% {
    transform: translateX(0em) scale(1.1);
  }
}

@media only screen and (min-width: 60em) {

  .about {
    width: 48%;
  }

}
