nav li {
  text-align: center;
}

li a {
  text-decoration: none;
  font-weight: 400;
}

div .sub-header {
  color: var(--color-primary);
  text-align: center;
}

.logo {
  z-index: 500;
  position: relative;
  transform: scale(0.8);
}

.static {
  display: block;
  height: 100vh;
}

.mountains {
  transform: scale(1.1);
  z-index: 9;
}

.underwater-1 {
  transform: scale(1.1);
  z-index: 25;
  top: 120px;
}

.underwater-3 {
  animation: reverse-wiggle 4s linear infinite;
  z-index: 32;
  top: 133px;
}

.water-bottom {
  top: 118px;
  animation: wiggle 4s linear infinite;
  z-index: 29;
}

.water-middle {
  top: 107px;
  animation: reverse-wiggle 4s linear infinite;
  z-index: 27;
}

.water-top {
  top: 106px;
  animation: wiggle 4s linear infinite;
  z-index: 23;
}

.whale-2 {
  top: 136px;
  animation: whale2 4s linear infinite;
  z-index: 30;
}

.top-layer {
  top: 118px;
  transform: scale(1.1);
  z-index: 32;
}

.whale-1 {
  top: 135px;
  animation: whale1 4s linear infinite;
  z-index: 33;
}

.underwater-2 {
  animation: wiggle 4s linear infinite;
  z-index: 34;
  top: 119px;
}

nav a:hover {
  color: var(--color-secondary-light);
  font-weight: bold;
}

.pad-portfolio {
  padding-bottom: 1em;
}

@keyframes wiggle {

  0% {
    transform: translateX(0em) scale(1.1);
  }

  25% {
    transform: translateX(0.25em) scale(1.1);
  }

  75% {
    transform: translateX(-0.25em) scale(1.1);
  }

  100% {
    transform: translateX(0em) scale(1.1);
  }
}

@keyframes reverse-wiggle {

  0% {
    transform: translateX(0em) scale(1.1);
  }

  25% {
    transform: translateX(-0.25em) scale(1.1);
  }

  75% {
    transform: translateX(0.25em) scale(1.1);
  }

  100% {
    transform: translateX(0em) scale(1.1);
  }
}

@keyframes whale2 {

  0% {
    transform: translateY(0em)rotate(0deg) scale(1.1);
  }

  25% {
    transform: translateY(-0.25em) rotate(-1deg) scale(1.1);
  }

  75% {
    transform: translateY(0.25em)rotate(1deg) scale(1.1);
  }

  100% {
    transform: translateY(0em) rotate(0deg) scale(1.1);
  }
}

@keyframes whale1 {

  0% {
    transform: translateY(0em)rotate(0deg) scale(1.1);
  }

  25% {
    transform: translateY(0.25em) rotate(1deg) scale(1.1);
  }

  75% {
    transform: translateY(-0.25em)rotate(-1deg) scale(1.1);
  }

  100% {
    transform: translateY(0em) rotate(0deg) scale(1.1);
  }
}

@media only screen and (min-width: 25em) {

  .pad-portfolio {
    padding-bottom: 1em;
  }

}

@media only screen and (min-width: 38em) {


}

@media only screen and (min-width: 60em) {

  .pad-portfolio {
    padding-bottom: 3em;
  }

  .mountains {
    transform: scale(1.1);
    z-index: 9;
  }

  .underwater-1 {
    transform: scale(1.1);
    z-index: 25;
    top: 280px;
  }

  .underwater-3 {
    animation: reverse-wiggle 4s linear infinite;
    z-index: 32;
    top: 319px;
  }

  .water-bottom {
    top: 246px;
    animation: wiggle 4s linear infinite;
    z-index: 29;
  }

  .water-middle {
    top: 207px;
    animation: reverse-wiggle 4s linear infinite;
    z-index: 27;
  }

  .water-top {
    top: 206px;
    animation: wiggle 4s linear infinite;
    z-index: 23;
  }

  .whale-2 {
    top: 251px;
    animation: whale2 4s linear infinite;
    z-index: 30;
  }

  .top-layer {
    top: 230px;
    transform: scale(1.1);
    z-index: 32;
  }

  .whale-1 {
    top: 251px;
    animation: whale1 4s linear infinite;
    z-index: 33;
  }

  .underwater-2 {
    animation: wiggle 4s linear infinite;
    z-index: 34;
    top: 281px;
  }

}

@media only screen and (min-width: 90em) {

  .pad-portfolio {
    padding-bottom: 4em;
  }


}
