.buzz {
  fill: #33596D;
  transform: scale(0.8);
}

.cat {
  fill: var(--color-primary-light);
  transform: scale(0.8);
}

.glenn {
  fill: var(--color-primary);
  transform: scale(0.8);
}

.ellie {
  fill: #ABD2C8;
  transform: scale(0.8);
}

.current:hover {
  fill: var(--color-secondary-light);
  transform: scale(0.9);
  transition: all .1s ease-in-out;
}

h3 {
  text-align: left;
  color: #33596D;
}

.carousel {
  position: relative;
}

.carousel-items > div {
  display: none;
}

.carousel-input,
.carousel-2-input {
  z-index: 4000;
  bottom: 0;
}

.blue {
  background: linear-gradient(0deg, rgba(31,48,88,1) 0%, rgba(176,198,208,1) 100%);
}

.white {
  color: var(--color-secondary-medium);
}

.icon-section {
  width: 100%;
  z-index: 300;
}

.portfolio-piece-icon {
  fill: var(--color-secondary-light);
  transform: scale(0.8);
}

.piece-description-dark {
  background-color: var(--color-secondary);
  opacity: 0.5;
  border-radius: 7px;
}

.portfolio-description {
  margin: 0 auto;
  max-width: 40em;
  display: block;
}

.padding-icons {
  padding-bottom: 10em;
}

.cat-1 {
  background-color: rgba(1,1,1,0.5);
  color: var(--color-secondary-medium);
  top: 15%;
  right: 35%;
  border-radius: 5px;
  max-width: 11em;
  display: none;
}

a:focus {
  outline: 3px solid #000;
}

#peice-1-control:checked ~ .carousel-inner #peice-1,
#peice-2-control:checked ~ .carousel-inner #peice-2,
#peice-3-control:checked ~ .carousel-inner #peice-3,
#peice-4-control:checked ~ .carousel-inner #peice-4 {
  display: block;
}

.carousel-btn {
  border: 3px solid var(--color-secondary-medium);
  border-radius: 50%;
}

.carousel-btn-2 {
  border: 3px solid var(--color-primary);
  border-radius: 50%;
}

#peice-1-control:checked ~ .carousel-inner [for="peice-1-control"],
#peice-2-control:checked ~ .carousel-inner [for="peice-2-control"],
#peice-3-control:checked ~ .carousel-inner [for="peice-3-control"],
#peice-4-control:checked ~ .carousel-inner [for="peice-4-control"] {
  background-color: #ED7954;
  border: 2px solid #ED7954;
}

#peice-1-control-2:checked ~ .carousel-inner-2 #peice-1-2,
#peice-2-control-2:checked ~ .carousel-inner-2 #peice-2-2,
#peice-3-control-2:checked ~ .carousel-inner-2 #peice-3-2,
#peice-4-control-2:checked ~ .carousel-inner-2 #peice-4-2{
  display: block;
}

#peice-1-control-2:checked ~ .carousel-inner-2 [for="peice-1-control-2"],
#peice-2-control-2:checked ~ .carousel-inner-2 [for="peice-2-control-2"],
#peice-3-control-2:checked ~ .carousel-inner-2 [for="peice-3-control-2"],
#peice-4-control-2:checked ~ .carousel-inner-2 [for="peice-4-control-2"] {
  background-color: #ED7954;
  border: 2px solid #ED7954;
}

@media only screen and (min-width: 38em) {

  .buzz {
    transform: scale(1);
  }

  .cat {
    transform: scale(1);
  }

  .glenn {
    transform: scale(1);
  }

  .ellie {
    transform: scale(1);
  }

  .portfolio-piece-icon {
    transform: scale(1);
  }

  .current:hover {
    transform: scale(1.1);
  }

}

@media only screen and (min-width: 60em) {

  .portfolio-description {
    max-width: 50em;
  }

}
