<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.description}}">
  <meta name="ICBM" content="45.41117,-75.69812">
  <meta name="geo.position" content="45.41117,-75.69812">
  <meta name="geo.region" content="ca-on">
  <meta name="geo.placename" content="Ottawa">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{page.header}}">
  <meta property="og:url" content="https://cecibowles.design/index/">
  <meta property="og:image" content="https://cecibowles.design/images/">
  <meta property="og:site_name" content="{{page.name}}">
  <meta property="og:description" content="{{page.info}}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>

  {% pattern sections/navigation %}
  <div id="main" role="main" tabindex="0">
    {{content}}
  </div>
  <div class="" role="contentinfo" tabindex="0">
    {% pattern footer/footer %}
  </div>

</body>
</html>
